<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
  <h1>Hellow Express</h1>
  <form action="/name" method="POST">
    <input type="text" name="user" />
    <input type="text" name="password" />
    <input type="submit"/>
  </form>
  <script>
    function add(a,b) {
      const isNum1 = typeof a === 'number';
      const isNum2 = typeof b === 'number';
      if(!isNum1||!isNum2){
        throw {
          name:'TypeError',
          message:'add need numbers'
        }
      }
      return a+b;
    }
    function istry() {
      try{
        add('seven');
      }catch(e){
        console.log(e)
      }
    }
    istry();
    Object.beget = function (o) {
      function F() {}
      F.prototype = o;
      return new F();
    }
    Function.prototype.method = function (name,func) {
      console.log(this);
      this.prototype[name] = func;
      return this;
    }
  </script>
</body>
</html>
