<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
  <h1>Hellow Express</h1>
  <form action="/name" method="POST">
    <input type="text" name="user" />
    <input type="text" name="password" />
    <input type="file" id="file"/>
    <input type="submit"/>
  </form>
  <script lang="javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script>
    const fileElement = document.getElementById('file');
    fileElement.onchange = function(){
      const read = new FileReader();
      read.onload = function(evt){
        const data = new Uint8Array(evt.target.result);
        const workbook = XLSX.read(data,{type:'array'});
        console.log(workbook.Sheets.sheet1);
      }
      read.readAsArrayBuffer(this.files[0])
    }
  </script>
</body>
</html>
